Assignment D/flows.json
[
    {
        "id": "1ad914eb1ce74024",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20f1dd7d53d01a12",
        "type": "ui_slider",
        "z": "1ad914eb1ce74024",
        "name": "",
        "label": "Select Time",
        "tooltip": "Select Time Slot you need to check",
        "group": "eea871b3c2605877",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "8 ",
        "max": "17",
        "step": 1,
        "className": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "f9ee1fe6dc30bd40",
                "fa9e34d6056b3d3e"
            ]
        ]
    },
    {
        "id": "f9ee1fe6dc30bd40",
        "type": "ui_text",
        "z": "1ad914eb1ce74024",
        "group": "eea871b3c2605877",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected Time",
        "format": "{{msg.payload}}:00",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa9e34d6056b3d3e",
        "type": "change",
        "z": "1ad914eb1ce74024",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "step",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"8\":\"EE2023/BM2800\",\"9\":\"EE2023/BM2800\",\"10\":\"EN2073\",\"11\":\"EN2073\",\"12\":\"Interval\",\"13\":\"MA2053\",\"14\":\"MA2053\",\"15\":\"EN2570(P)\",\"16\":\"EN2570(P)\",\"17\":\"EN2570(P)\",\"TimeStep\":[8,10,12,13,15,18]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "fcdd5b5e0ed6d97e"
            ]
        ]
    },
    {
        "id": "fcdd5b5e0ed6d97e",
        "type": "function",
        "z": "1ad914eb1ce74024",
        "name": "",
        "func": "//const myObj = JSON.parse(msg.payload);\n\nlet x = msg.step;\n\nlet y = x.toString();\n\nmsg.topic= msg.payload[y];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "838c35efa0128b9a",
                "e4424598788c1262"
            ]
        ]
    },
    {
        "id": "e4424598788c1262",
        "type": "ui_text",
        "z": "1ad914eb1ce74024",
        "group": "eea871b3c2605877",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subject",
        "format": "{{msg.topic}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "838c35efa0128b9a",
        "type": "debug",
        "z": "1ad914eb1ce74024",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "eea871b3c2605877",
        "type": "ui_group",
        "name": "Get Time Table Data",
        "tab": "46662a6e0dd0ec5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46662a6e0dd0ec5b",
        "type": "ui_tab",
        "name": "Get Data For your Time Table",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]