Assignment D/flows (2).json
[
    {
        "id": "45046cb93ec2ae11",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38048eaa72036fce",
        "type": "ui_text_input",
        "z": "45046cb93ec2ae11",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9798995940941c33",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "900",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "0e9ecd0136dbcd04"
            ]
        ]
    },
    {
        "id": "83d07dfdbfa9ec62",
        "type": "openweathermap",
        "z": "45046cb93ec2ae11",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "credentials": {},
        "x": 470,
        "y": 120,
        "wires": [
            [
                "7219c097272f1a6a",
                "ada99af784b59e22",
                "71e562f951f68cae",
                "5202be9463d6aed2",
                "087e3d7653a3ce32",
                "8b01b032a5ea9039",
                "9476d54a413d7e48",
                "c1f85bac16c3db8b",
                "1fc5e74798f811f7",
                "dc5d3d1f5bc8d608",
                "5a73e991be1a4223"
            ]
        ]
    },
    {
        "id": "0e9ecd0136dbcd04",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "let m = msg.payload;\nmsg.location ={};\nlet place = m.split(\",\");\nif (place.length<2){\n    msg.location.city = msg.payload;\n    msg.location.country = \"srilanka\";\n}\nelse{\n    msg.location.lat = parseFloat(place[0]);\n    msg.location.lon = parseFloat(place[1]);\n}\n\nreturn msg;\n\nvar location  = global.get(\"location\");\nvar Location = {location :{}}\nif (location.split(\",\").length<2){\n    Location\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "83d07dfdbfa9ec62",
                "5dddd00b9687cdec"
            ]
        ]
    },
    {
        "id": "7219c097272f1a6a",
        "type": "ui_template",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope){\n    scope.$watch('msg', function(msg){\n        document.title = msg.payload.location;\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "e2aaa56f475d71a6",
                "54841f6b8c751609",
                "2fea2a8b2542c64c",
                "2616569c4bfb8085",
                "4ca3589c69610426",
                "93a5b53fe6a6c88c",
                "a2337c9a473adad9",
                "9be69ca5bd1aeaf6"
            ]
        ]
    },
    {
        "id": "7d0a62966f39aecf",
        "type": "ui_numeric",
        "z": "45046cb93ec2ae11",
        "name": "",
        "label": "Refresh Time",
        "tooltip": "",
        "group": "9798995940941c33",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "30",
        "max": "1000",
        "step": "1",
        "className": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "0217f1287e430e7d"
            ]
        ]
    },
    {
        "id": "e2aaa56f475d71a6",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature :",
        "format": "{{msg.payload.tempc}} C",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 20,
        "wires": []
    },
    {
        "id": "54841f6b8c751609",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity :",
        "format": "{{msg.payload.humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "2fea2a8b2542c64c",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed :",
        "format": "{{msg.payload.windspeed}} m/s",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 100,
        "wires": []
    },
    {
        "id": "2616569c4bfb8085",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Direction :",
        "format": "{{msg.payload.winddirection}}",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 140,
        "wires": []
    },
    {
        "id": "f27919e17b0cc54d",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunrise Time :",
        "format": "{{msg.payload.sunrise}}",
        "layout": "row-spread",
        "className": "",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "d50a472a2072feec",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sun Setting Time :",
        "format": "{{msg.payload.sunset}}",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "4ca3589c69610426",
        "type": "ui_text",
        "z": "45046cb93ec2ae11",
        "group": "9798995940941c33",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure :",
        "format": "{{msg.payload.pressure}} hPa",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "0217f1287e430e7d",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "83d07dfdbfa9ec62"
            ]
        ]
    },
    {
        "id": "93a5b53fe6a6c88c",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "let unix_time = msg.payload.sunset;\nvar date = new Date(unix_time * 1000);\nvar hours = date.getHours();\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\nmsg.payload.sunset = formattedTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "d50a472a2072feec"
            ]
        ]
    },
    {
        "id": "a2337c9a473adad9",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "let unix_time = msg.payload.sunrise;\nvar date = new Date(unix_time * 1000);\nvar hours = date.getHours();\nvar minutes = \"0\" + date.getMinutes();\nvar seconds = \"0\" + date.getSeconds();\nvar formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n\nmsg.payload.sunrise = formattedTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "f27919e17b0cc54d"
            ]
        ]
    },
    {
        "id": "ada99af784b59e22",
        "type": "ui_gauge",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "aaaddd87bfd355fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{msg.payload.tempc}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "71e562f951f68cae",
        "type": "ui_gauge",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "aaaddd87bfd355fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "5202be9463d6aed2",
        "type": "ui_gauge",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "aaaddd87bfd355fe",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "087e3d7653a3ce32",
        "type": "ui_gauge",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "aaaddd87bfd355fe",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "degrees",
        "format": "{{msg.payload.winddirection}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "8b01b032a5ea9039",
        "type": "ui_gauge",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "aaaddd87bfd355fe",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{msg.payload.pressure}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "10e3cb2be8abc1e5",
        "type": "ui_audio",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "63899b85c2ad204b",
        "voice": "Microsoft Zira - English (United States)",
        "always": "",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "9476d54a413d7e48",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "msg.payload = msg.payload.description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "b5279aabe3103bc5"
            ]
        ]
    },
    {
        "id": "b5279aabe3103bc5",
        "type": "ui_button",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "63899b85c2ad204b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Speaker",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "speaker",
        "payload": "{msg.payload}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "10e3cb2be8abc1e5"
            ]
        ]
    },
    {
        "id": "18ecefafc43f7d65",
        "type": "ui_chart",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "b2a4cf4a2e807021",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "09f75b6612bba4ef",
        "type": "ui_switch",
        "z": "45046cb93ec2ae11",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "b2a4cf4a2e807021",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "c3da0b822b660f7d",
                "7f275240d0107c90",
                "f261204d7586d608"
            ]
        ]
    },
    {
        "id": "c1f85bac16c3db8b",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload.tempc);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "df84e3c3ee3d711d",
                "18ecefafc43f7d65"
            ]
        ]
    },
    {
        "id": "df84e3c3ee3d711d",
        "type": "debug",
        "z": "45046cb93ec2ae11",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 740,
        "wires": []
    },
    {
        "id": "9be69ca5bd1aeaf6",
        "type": "debug",
        "z": "45046cb93ec2ae11",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "1fc5e74798f811f7",
        "type": "debug",
        "z": "45046cb93ec2ae11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.location",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "c3da0b822b660f7d",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "if (msg.payload == false){\n    msg.payload = [];\n} \nelse if (msg.payload == true){\n    msg.payload = flow.get(\"Temperature\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "f65024c08f3b3aab"
            ]
        ]
    },
    {
        "id": "7f275240d0107c90",
        "type": "debug",
        "z": "45046cb93ec2ae11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "f65024c08f3b3aab",
        "type": "ui_chart",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "b2a4cf4a2e807021",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a439696aa76224ad",
        "type": "ui_chart",
        "z": "45046cb93ec2ae11",
        "name": "",
        "group": "b2a4cf4a2e807021",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Wind Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dc5d3d1f5bc8d608",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload.humidity);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 820,
        "wires": [
            [
                "f65024c08f3b3aab"
            ]
        ]
    },
    {
        "id": "5a73e991be1a4223",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload.windspeed);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 900,
        "wires": [
            [
                "a439696aa76224ad"
            ]
        ]
    },
    {
        "id": "47e63dfe13ba9a02",
        "type": "switch",
        "z": "45046cb93ec2ae11",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1030,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f261204d7586d608",
        "type": "function",
        "z": "45046cb93ec2ae11",
        "name": "",
        "func": "if (msg.payload!=true)\n{\n    msg.payload = false;\n    return msg;\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "18ecefafc43f7d65"
            ]
        ]
    },
    {
        "id": "5dddd00b9687cdec",
        "type": "debug",
        "z": "45046cb93ec2ae11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "location",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "9798995940941c33",
        "type": "ui_group",
        "name": "Get location",
        "tab": "86964f2210cfcf28",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aaaddd87bfd355fe",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "86964f2210cfcf28",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63899b85c2ad204b",
        "type": "ui_group",
        "name": "Audio Out",
        "tab": "86964f2210cfcf28",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2a4cf4a2e807021",
        "type": "ui_group",
        "name": "Charts",
        "tab": "86964f2210cfcf28",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86964f2210cfcf28",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]