Assignment_A/flows.json
[
    {
        "id": "839953d2c80fb2f3",
        "type": "tab",
        "label": "Assignment_A",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50d7881efb213f97",
        "type": "mqtt in",
        "z": "839953d2c80fb2f3",
        "name": "",
        "topic": "/task_02m/Temp02",
        "qos": "2",
        "datatype": "auto",
        "broker": "99cdaf063c57baa2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "838f48884c481760",
                "06c4e2b8b859029e",
                "0d98911bc996c681",
                "ac10258526fa97f0"
            ]
        ]
    },
    {
        "id": "24b13588ce377f56",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "838f48884c481760",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "06c4e2b8b859029e",
        "type": "function",
        "z": "839953d2c80fb2f3",
        "name": "",
        "func": "let message ;\n// if (msg.payload.tempc>20){\n//     message = \"Hot \"+msg.payload.tempc\n// }else{\n//     message = \"Cool \"+msg.payload.tempc\n// }\n\nmessage = msg.payload.Temp02 ;\n\nreturn {\n    payload:message\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "24b13588ce377f56"
            ]
        ]
    },
    {
        "id": "0d98911bc996c681",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Indoor Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac10258526fa97f0",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Indoor Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "28c6d2a6668239c5",
        "type": "mqtt in",
        "z": "839953d2c80fb2f3",
        "name": "",
        "topic": "/task_02m/Humidity02",
        "qos": "2",
        "datatype": "auto",
        "broker": "99cdaf063c57baa2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "930c967621ec2920",
                "13d9ebf9980574da",
                "456790e83827b8dd",
                "4f9ca8c1e3611772"
            ]
        ]
    },
    {
        "id": "1cae9c6f59ab4ca7",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "930c967621ec2920",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "13d9ebf9980574da",
        "type": "function",
        "z": "839953d2c80fb2f3",
        "name": "",
        "func": "let message ;\n// if (msg.payload.tempc>20){\n//     message = \"Hot \"+msg.payload.tempc\n// }else{\n//     message = \"Cool \"+msg.payload.tempc\n// }\n\nmessage = msg.payload.Temp02 ;\n\nreturn {\n    payload:message\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 380,
        "wires": [
            [
                "1cae9c6f59ab4ca7"
            ]
        ]
    },
    {
        "id": "456790e83827b8dd",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f9ca8c1e3611772",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Outdorr Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b072a1c292ea8451",
        "type": "mqtt in",
        "z": "839953d2c80fb2f3",
        "name": "",
        "topic": "/task_02m/Wind_Speed",
        "qos": "2",
        "datatype": "auto",
        "broker": "99cdaf063c57baa2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 640,
        "wires": [
            [
                "7f71025390d73ddd",
                "f4cb9fb555ec054c",
                "0c5f51cce277de51"
            ]
        ]
    },
    {
        "id": "7f71025390d73ddd",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "f4cb9fb555ec054c",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "0c5f51cce277de51",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Wind Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7f29aac9ae0a3f33",
        "type": "mqtt in",
        "z": "839953d2c80fb2f3",
        "name": "",
        "topic": "/task_02m/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "99cdaf063c57baa2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1600,
        "wires": [
            [
                "018886b4223820b7",
                "7f6e9985104e84e7"
            ]
        ]
    },
    {
        "id": "018886b4223820b7",
        "type": "switch",
        "z": "839953d2c80fb2f3",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/task_02m/Power_Gen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Temp01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Temp02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Humidity01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Humidity02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Wind_Speed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Wind_Direction",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Light_Intensity01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Light_Intensity02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Battery_Capacity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Alarm Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/task_02m/Alarm Light Intensity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 370,
        "y": 1640,
        "wires": [
            [
                "ef912013dd924240",
                "d2689f39ed3c71a2"
            ],
            [
                "b7c471b13fee1fc5",
                "3159bb766fb6cfac"
            ],
            [
                "cde26c885586c14a",
                "24446f5154235eb1"
            ],
            [
                "e56a3555cf42a278",
                "31861fc6a8840eb0"
            ],
            [
                "60c9e97abfb844b2",
                "f1b9152fdca1f70f"
            ],
            [
                "c9f2b9dc79e476c2",
                "41cee3b9682b0ffe"
            ],
            [
                "58f4fea56304eadc"
            ],
            [
                "95cc8c16a35afd66",
                "d87e5010c1d9724c"
            ],
            [
                "95182615246dd5e4",
                "fe3ced122496e916"
            ],
            [
                "94e31f3c2ceadb72",
                "8d445cb579806c55"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f6e9985104e84e7",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 1520,
        "wires": []
    },
    {
        "id": "b7c471b13fee1fc5",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Outdoor Temperature ",
        "group": "ce88af13ba2f6e9b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor Temperature (C)",
        "label": "C",
        "format": "{{value}}",
        "min": "18",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 1300,
        "wires": []
    },
    {
        "id": "3159bb766fb6cfac",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Outdoor Temperature ",
        "group": "ce88af13ba2f6e9b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Outdoor Temperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "18",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "cde26c885586c14a",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "",
        "group": "812871aa713b1a2c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Generator Temperature (C)",
        "label": "C",
        "format": "{{value}}",
        "min": "40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 900,
        "y": 1400,
        "wires": []
    },
    {
        "id": "24446f5154235eb1",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "GeneratorTemperature ",
        "group": "812871aa713b1a2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "GeneratorTemperature (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "ef912013dd924240",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Power Generation (kW)",
        "group": "0e9a645a3023c2d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Power Generation (kW)",
        "label": "kW",
        "format": "{{value}}",
        "min": "300",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d2689f39ed3c71a2",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Power Generation (kW)",
        "group": "0e9a645a3023c2d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Power Generation (kW)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "100",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "31861fc6a8840eb0",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Indoor Humidity",
        "group": "add58e7a.c23c2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Indoor Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e56a3555cf42a278",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Indoor Humidity",
        "group": "add58e7a.c23c2",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Indoor Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "60c9e97abfb844b2",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Outdoor Humidity",
        "group": "8f93c060a141793f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f1b9152fdca1f70f",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Outdoor Humidity",
        "group": "8f93c060a141793f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Outdoor Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f2b9dc79e476c2",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Wind Speed ",
        "group": "bea2b126518d605a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wind Speed (km/h)",
        "label": "km/h",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 1680,
        "wires": []
    },
    {
        "id": "41cee3b9682b0ffe",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Wind Speed ",
        "group": "bea2b126518d605a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Wind Speed (km/h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "58f4fea56304eadc",
        "type": "function",
        "z": "839953d2c80fb2f3",
        "name": "Direction converter",
        "func": "let message ;\nif (msg.payload=='N'){\n    message = 0\n}\nelse if(msg.payload=='NE'){\n    message = 45\n}\nelse if(msg.payload=='E'){\n    message = 90\n}\nelse if(msg.payload=='SE'){\n    message = 135\n}\nelse if(msg.payload=='S'){\n    message = 180\n}\nelse if(msg.payload=='SW'){\n    message = 225\n}\nelse if(msg.payload=='W'){\n    message = 270\n}\nelse if(msg.payload=='NW'){\n    message = 315\n}\n\nreturn {\n    payload:message\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "feb5075a5e5870a6",
                "7c105a4e5c191663",
                "922b81f254a6c2e5"
            ]
        ]
    },
    {
        "id": "feb5075a5e5870a6",
        "type": "debug",
        "z": "839953d2c80fb2f3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7c105a4e5c191663",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Wind Direction",
        "group": "5e42d3d01507bf68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 1780,
        "wires": []
    },
    {
        "id": "922b81f254a6c2e5",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Wind Direction",
        "group": "5e42d3d01507bf68",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Wind Direction",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "360",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "95cc8c16a35afd66",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Light Intensity",
        "group": "5d3a48945a2c3230",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity (lx)",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d87e5010c1d9724c",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Light Intensity",
        "group": "5d3a48945a2c3230",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity (lx)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "65535",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "95182615246dd5e4",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Indoor Light Intensity",
        "group": "e2bfb6bddcb1894a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "lx",
        "format": "{{value}}",
        "min": "100",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 1980,
        "wires": []
    },
    {
        "id": "fe3ced122496e916",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Indoor Light Intensity",
        "group": "e2bfb6bddcb1894a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Indoor Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "100",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "94e31f3c2ceadb72",
        "type": "ui_gauge",
        "z": "839953d2c80fb2f3",
        "name": "Battery Capacity ",
        "group": "cf265b4952bea164",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Capacity (kWh)",
        "label": "kWh",
        "format": "{{value}}",
        "min": "5",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 2080,
        "wires": []
    },
    {
        "id": "8d445cb579806c55",
        "type": "ui_chart",
        "z": "839953d2c80fb2f3",
        "name": "Battery Capacity ",
        "group": "cf265b4952bea164",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Battery Capacity (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "99cdaf063c57baa2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "5g-vue.projects.uom.lk",
        "port": "1883",
        "clientid": "group07",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ce88af13ba2f6e9b",
        "type": "ui_group",
        "name": "Outdoor Temperature",
        "tab": "efd4a9358a3081ab",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "812871aa713b1a2c",
        "type": "ui_group",
        "name": "Generator Temperature",
        "tab": "444821a58355c44a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e9a645a3023c2d9",
        "type": "ui_group",
        "name": "Power Generation",
        "tab": "444821a58355c44a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "add58e7a.c23c2",
        "type": "ui_group",
        "name": "Indoor Humidity",
        "tab": "444821a58355c44a",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f93c060a141793f",
        "type": "ui_group",
        "name": "Outdoor Humidity",
        "tab": "efd4a9358a3081ab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bea2b126518d605a",
        "type": "ui_group",
        "name": "Wind Speed",
        "tab": "efd4a9358a3081ab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e42d3d01507bf68",
        "type": "ui_group",
        "name": "Wind Direction",
        "tab": "efd4a9358a3081ab",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d3a48945a2c3230",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "efd4a9358a3081ab",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2bfb6bddcb1894a",
        "type": "ui_group",
        "name": "Indoor Light Intensity",
        "tab": "444821a58355c44a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf265b4952bea164",
        "type": "ui_group",
        "name": "Battery Capacity",
        "tab": "444821a58355c44a",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efd4a9358a3081ab",
        "type": "ui_tab",
        "name": "Weather Information",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "444821a58355c44a",
        "type": "ui_tab",
        "name": "Power Plant Information",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]