Week 1/190592X_Week1.json
[
    {
        "id": "960b1564b965e4bc",
        "type": "tab",
        "label": "IoT - Ex 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc6205e978e02670",
        "type": "inject",
        "z": "960b1564b965e4bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "cac8c7cd7d212847"
            ]
        ]
    },
    {
        "id": "a2162fe3681aa8f1",
        "type": "inject",
        "z": "960b1564b965e4bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "cac8c7cd7d212847"
            ]
        ]
    },
    {
        "id": "edd604b6e24cf3f5",
        "type": "inject",
        "z": "960b1564b965e4bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9",
        "payloadType": "num",
        "x": 70,
        "y": 280,
        "wires": [
            [
                "cac8c7cd7d212847"
            ]
        ]
    },
    {
        "id": "6e08bc967adee868",
        "type": "inject",
        "z": "960b1564b965e4bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "13",
        "payloadType": "num",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "cac8c7cd7d212847"
            ]
        ]
    },
    {
        "id": "cac8c7cd7d212847",
        "type": "rbe",
        "z": "960b1564b965e4bc",
        "name": "Value Changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "6cf1c6d0900d2bd1",
                "049d9010ec2dc1c4"
            ]
        ]
    },
    {
        "id": "6cf1c6d0900d2bd1",
        "type": "debug",
        "z": "960b1564b965e4bc",
        "name": "value change notification",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"value changed\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "049d9010ec2dc1c4",
        "type": "switch",
        "z": "960b1564b965e4bc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "jsonata_exp",
                "v": "msg.payload%3 =0",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "06f162e632b7aea2"
            ],
            [
                "e5b07b6534cc56e6"
            ],
            [
                "55157354e0eb024f"
            ]
        ]
    },
    {
        "id": "06f162e632b7aea2",
        "type": "debug",
        "z": "960b1564b965e4bc",
        "name": "Greater Than 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "e5b07b6534cc56e6",
        "type": "debug",
        "z": "960b1564b965e4bc",
        "name": "Divisible by 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "55157354e0eb024f",
        "type": "change",
        "z": "960b1564b965e4bc",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "received_number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"name\": \" Silva G.B.N.M.\",\"index\":\"190592X\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "5079c99981d97d32",
                "e57c3c6ebad8820c"
            ]
        ]
    },
    {
        "id": "5079c99981d97d32",
        "type": "debug",
        "z": "960b1564b965e4bc",
        "name": "restructure message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "e57c3c6ebad8820c",
        "type": "function",
        "z": "960b1564b965e4bc",
        "name": "",
        "func": "let index_txt = msg.payload.index ;\nlet recieved_no = msg.received_number;\nlet answer = parseInt(index_txt,10) + recieved_no;\n\nreturn {payload:answer}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "4762cdb095410ba0"
            ]
        ]
    },
    {
        "id": "4762cdb095410ba0",
        "type": "debug",
        "z": "960b1564b965e4bc",
        "name": "final message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "f547eabde98a176e",
        "type": "tab",
        "label": "IoT - Ex 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17928a62d2a42b0e",
        "type": "inject",
        "z": "f547eabde98a176e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"latitude\": \"5.9781242\",     \"longtitude\": \"80.3525238\",     \"date\": \"2022-2-10\"}",
        "payloadType": "json",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "ebe0f90a8e1a7b4a",
                "1a7c0f4d3d2f177f"
            ]
        ]
    },
    {
        "id": "1a7c0f4d3d2f177f",
        "type": "function",
        "z": "f547eabde98a176e",
        "name": "Create URL",
        "func": "let latitude = msg.payload.latitude ;\nlet lontitude = msg.payload.longitude;\nlet date = msg.payload.date;\n\nlet url_sunrise = \"https://api.sunrise-sunset.org/json?\"+\"lat=\"+latitude+\"&lng=\"+lontitude+\"&date=\"+date;\n\nmsg.url = url_sunrise ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 200,
        "wires": [
            [
                "cd0d4d92d3f192dc",
                "41802844bde17d65"
            ]
        ]
    },
    {
        "id": "ebe0f90a8e1a7b4a",
        "type": "debug",
        "z": "f547eabde98a176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "cd0d4d92d3f192dc",
        "type": "debug",
        "z": "f547eabde98a176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "41802844bde17d65",
        "type": "http request",
        "z": "f547eabde98a176e",
        "name": "Call API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "8e6b9626ac4ee76e",
                "16d9a1a8596ea837"
            ]
        ]
    },
    {
        "id": "8e6b9626ac4ee76e",
        "type": "function",
        "z": "f547eabde98a176e",
        "name": "Process API Response",
        "func": "if (msg.payload[\"status\"] == \"OK\") {\n    delete msg.payload.status ;\n}\nconst text = msg.payload.results[\"day_length\"];\nconst str_array = text.split(\":\");\nlet hour = parseInt(str_array[0]);\nlet min = parseInt(str_array[1]);\nlet day_length_round = str_array[0];\nif (min >= 30){\n    hour += 1;\n    day_length_round = hour.toString(); \n    if (hour >23){\n        day_length_round = \"00\";\n    }\n}\nmsg.payload.results.day_length_rounded = day_length_round ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "f875a5b32d92123b"
            ]
        ]
    },
    {
        "id": "16d9a1a8596ea837",
        "type": "debug",
        "z": "f547eabde98a176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 420,
        "wires": []
    },
    {
        "id": "f875a5b32d92123b",
        "type": "debug",
        "z": "f547eabde98a176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 320,
        "wires": []
    }
]