Week 2/190592X_session2_Ex1.json
[
    {
        "id": "aa57056ea8cab28a",
        "type": "tab",
        "label": "Lab 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7d1757c8c05b745",
        "type": "ui_slider",
        "z": "aa57056ea8cab28a",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "c4781da13c994dd1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "1ba0d9be2df226c5",
                "cf705088337ff4b4"
            ]
        ]
    },
    {
        "id": "1ba0d9be2df226c5",
        "type": "ui_gauge",
        "z": "aa57056ea8cab28a",
        "name": "",
        "group": "c4781da13c994dd1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "f83a3ab8454eb26f",
        "type": "ui_button",
        "z": "aa57056ea8cab28a",
        "name": "",
        "group": "8b0b33ceaa0a0337",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "GREETINGS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "\"Hello World\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "b9585877b6e6e166"
            ]
        ]
    },
    {
        "id": "b9585877b6e6e166",
        "type": "ui_text",
        "z": "aa57056ea8cab28a",
        "group": "8b0b33ceaa0a0337",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ba9e25694a70b81",
        "type": "ui_button",
        "z": "aa57056ea8cab28a",
        "name": "",
        "group": "7a4b8eb840f47867",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset All",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "c7d1757c8c05b745",
                "1ba0d9be2df226c5",
                "b9585877b6e6e166"
            ]
        ]
    },
    {
        "id": "cf705088337ff4b4",
        "type": "ui_chart",
        "z": "aa57056ea8cab28a",
        "name": "",
        "group": "28ca2d90465a0cfd",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f7aa573d24334e46",
        "type": "ui_button",
        "z": "aa57056ea8cab28a",
        "name": "",
        "group": "28ca2d90465a0cfd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "cf705088337ff4b4"
            ]
        ]
    },
    {
        "id": "c4781da13c994dd1",
        "type": "ui_group",
        "name": "Slider",
        "tab": "efd4a9358a3081ab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b0b33ceaa0a0337",
        "type": "ui_group",
        "name": "Button",
        "tab": "efd4a9358a3081ab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a4b8eb840f47867",
        "type": "ui_group",
        "name": "Reset",
        "tab": "efd4a9358a3081ab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28ca2d90465a0cfd",
        "type": "ui_group",
        "name": "Chart",
        "tab": "00c5909155d344ad",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efd4a9358a3081ab",
        "type": "ui_tab",
        "name": "Tab1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "00c5909155d344ad",
        "type": "ui_tab",
        "name": "Tab2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]